# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Put comments in separate lines!
#
# #####


# Attention:
#    LEAVE RIGHT SIDE EMPTY for a 'false' value like:
#       example_of_false_value =


[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'

project     = Form PostProcessor for DB Inserts
version     = 1.0.0
release     = 1.0.0
t3author    = Daniel Siepmann
copyright   = Copyright since 2016 by Daniel Siepmann

description = Allow inserts of data via core Form extension. E.g. for registrations of fe_users.


# For a reference about this file see:
# https://github.com/marble/typo3-docs-typo3-org-resources/blob/master/userroot/scripts/bin/conf-2015-10.Reference.Settings.cfg
